# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual environments
# =========================
.venv/
venv/
env/

# =========================
# Model files (DO NOT COMMIT)
# =========================
best_phishing_model/
*.bin
*.safetensors
*.pt
*.ckpt

# =========================
# Hugging Face cache
# =========================
.cache/
huggingface/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log
